<div class="container p-3 dashboard">
    
    <form>
    <div class="form-group">
        <label for="postTitle" class="text-lg">Title of Post:</label>
        <input type="text" class="form-control" id="postTitle" placeholder="title goes here..." required>
    </div>
    
        <br>
    <div class="form-group">
        <label for="description" class="text-lg">Post Description:</label>
        <textarea class="form-control" id="description" rows="8" required></textarea>
    </div>
    <br>
    <div class="form-group text-gray-900 ">
        
        <select name="categories" id="categ" class="bg-gray-300">
            <option value="">Pick a category</option>
                {{#each categ.categories as |c|}}
                    <option value={{c.id}}>{{c.category_name}}</option>
                {{/each}}
        </select>
    </div>
        <br>
    <div>
        <button type="submit" class="bg-emerald-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline go">POST</button>
    </div>
    </form>
</div>

<div class="container hh text">
        
        <h2 class="text-2xl">History:</h2><br>
       <div class="oldPosts ">

       </div>
</div>




<script src="https://cdn.tailwindcss.com"></script>
<script src="/js/dashboard.js"></script>