<div class="container p-3 dashboard">
    
    <form>
    <div class="form-group form-editPost" data-postId={{post.id}}>
        <label for="postTitle">Title of Post:</label>
        <textarea style="resize: none;" onkeyup="gray()" class="form-control"  id="title" rows="1"  required >{{post.title}}</textarea>
    </div>
    
        <br>
    <div class="form-group">
        <label for="description">Post Description:</label>
        <textarea class="form-control" onkeyup="gray()" id="description" rows="8"  required >{{post.description}}</textarea>
    </div>
        <br>
    <div>
        <button type="submit" class="btn btn-primary go" disabled>Update</button>
    </div>
    </form>
</div>

<script src="/js/editPost.js"></script>